*{
    margin:0 ;
    padding:0 ;
    box-sizing: border-box;
    }

body { 
	font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    line-height: 2;
	color: #325050;
	}

    /* Banner */

header {
        height: 230px;
        padding: 20px 0 70px 0;
        background: #2d6360;
        background-attachment: fixed;
        text-align: center;
        display: block;
    }  
    
    .img-header{
        position: relative;
        width: 100%;
        height: 290px;
        background: url(./img/contours.png), url(./img/noise.png), url(./img/gridlines.png), url(./img/huntington.jpg) no-repeat;
        background-size: auto, cover;
                    
    } 
    
    h1, h2 {    
        padding: 0 10%;
        font-weight: normal;
        text-align: left;
        line-height: 1.3;
   }

    h1 {
        border-bottom: none;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 3.2em;
        color: #fff;
        text-transform: uppercase;
       
    }

    h1::before {
        display: inline-block;
        position: relative;
        top: 60px;
        content: "";
        width: 125px;
        height: 125px;
        margin: 10px 30px 0 0;
        background: url(./img/enso.svg);
        background-size: 100%;
        opacity: 0.9;
    }

    h2 {
        display: block;
        padding: 300px;
        padding-top: 5px;
        padding-bottom: 30px;
        border-top: none;
        color: rgba(255, 255, 255, 0.582);
        font-size: 1.6em;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
    }    
    
    p {
        margin: 0.75em 0;
    }

    /* Introduccion */

    .intro {
        padding-top: 130px;
        padding-bottom: 50px;
        width: 100%;
        padding-left: 10%;
        padding-right: 38%;
        margin: 0;
    }

    .dmos a, .dmos a:visited {
        padding: 10px;        
        color: #809b7e;
        font-family: 'Julius Sans One', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
    }

    .dmos a:hover {
        color: #ffffff;
        background-color: #0d8ba1;   
        transition: 0.25s ;
        text-decoration: none;
        
    }

     h3 {
        margin: 1em 0 0 0;
        color: #2e484c;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 1.8em;
        font-weight: normal;
        text-transform: uppercase;
     }

     /* Fondo verde */

     .verde {
        width: 100%;
        padding-top: 25px;
        padding-bottom: 50px;
        padding-left: 10%;
        padding-right: 38%;
        margin: 0;
        background-attachment: scroll, scroll, fixed;
        background-color: rgba(138,188,159,0.5);
        background-image: url(./img/contours.png), url(./img/gridlines.png), url(./img/bamboo.png);
        background-repeat: repeat, repeat, no-repeat;
        background-size: auto, auto, cover;
     }

     .verde a{
         color:#1a9c96;
         text-decoration: none;
     }

     .verde a:hover {
         color:#0d8ba1;
         text-decoration: underline;

     }

     /* final blanca */

     .require {         
        width: 100%;
        padding-left: 10%;
        padding-right: 38%;
        padding-bottom: 50px;
        margin: 0;
        
     }

     .require a{
        color:#1a9c96;
        text-decoration: none;
     }

     .require a:hover{
        color:#0d8ba1;
        text-decoration: underline;
     }

     .v2 {

        padding: 2em 12%;
        margin: 0;
        color: rgba(255, 255, 255, 0.4);
        background: #3e5d67;
        background-image: url(./img/contours.png), url(./img/gridlines.png), url(./img/noise.png), url(./img/koi.jpg);
        background-position: 0 0, -5px -25px, 0 0, 0 50%;
        background-repeat: repeat, repeat, repeat, no-repeat;
        background-size: auto, auto, auto, cover;
        font-size: 2em;
        font-style: italic;
        text-align: center;
       
     }

     .v2 a {
         text-decoration: none;
         color: rgb(221, 214, 214);
         font-style: normal;
         cursor: pointer;
         
     }
     
     .v2 a:hover{
        text-decoration: underline;
     }

     /* Aside */

     .sidebar {
        background: #edf4f0;             
                
      }

      .sidebar h3 {
        display: none;
      }

      .sidebar a {
        color: #607476;
        text-decoration: none;
      }

      .sidebar a:hover {
          color: #49968e;
      }

      .sidebar ul {
        padding: 0;
        margin: 0;
        list-style: none;
        overflow: hidden;
      }

      .sidebar li {
        float: none;
        width: auto;
        padding-left: 0;
        padding-right: 0;
        
      }

       .design {
        position: absolute;
        top: 360px;
        right: 0;
        width: 33.3%;
        padding: 0 0 20px 0;
        margin: 0;
        overflow: visible;
        background: transparent;
      }
        
      
      .design ul, .extras ul  {
        margin: 0;
      }

      .design li, .extras li {
        
        width: 100%;
        padding: 0.5em 10%;
        border-top: solid 1px #d9e3dc;
        color: #c0cac3;
        
      }

      .design li:nth-child(2n+1), .extras li:nth-child(2n+1){
        clear: left;
      }

      .design, .extras a, li.viewall a {
          
        display: block;
        margin-bottom: 0.25em;
        font-family: 'Julius Sans One', sans-serif;
        font-size: 1.2em;
        font-style: normal;
        
      }

      .design .designer-name {
        color: #616857;
        font-size: 0.8em;
        font-style: normal;
        font-family: 'Libre Baskerville', serif;
      }

      

      /* barrita de navegacion */

      .navegador {
        position: absolute;
        top: 120px;
        right: 0;
        width: 26%;
        height: 70px;
        margin-right: 10px;
        background: rgba(255,255,255,0.2);
        }

        .navegador h3 {
            display: none;
          }
        
          .navegador ul {
            margin: 0;
          }
        
          .navegador li {
            position: absolute;
            top: 0;
            padding: 0;
            margin: 0;
            border: none;
            list-style: none;
          }
        
          .navegador li.viewall {
            top: 0;
            left: 0;
            padding: 0 45px;
            line-height: 50px;
          }
        
                 
          .next {
            left: auto;
            right: 0;
          }
        
          .navegador a, .navegador a:visited {
            color: rgba(255, 255, 255, 0.65);
          }
        
          .navegador a:hover {
            color: #fff;
          }
        
          .navegador .previous a, .navegador .next a {
            display: block;
            overflow: hidden;
            width: 70px;
            height: 70px;
            text-indent: 100%;
            text-decoration: none;
            white-space: nowrap;
          }
        
          .navegador .viewall a {
            z-index: 2;
            width: 100%;
            min-height: 60px;
            padding: 12px 0 0 0;
            text-align: center;
          }
        
          .navegador a::before {
            position: absolute;
            left: 0;
            width: 50px;
            text-align: center;
            text-indent: 0;
            font-size: 38px;
          }
        
          .navegador .next a::before {
            content: ">";
          }    

        
     /* extra */

      
      .extras {
        position: absolute;
        top: 1500px;
        right: 0;
        width: 35%;
        background: transparent;
      }

      .extras h3 {
        display: none;
      }

      .extras ul {
        width: 55.9%;
        margin: 0 29.4% 0 14.7%;
      }

      .extras li {
        padding: 1.5em 0 1.25em 0;
        margin: 0;
      }
      


     /* footer */

     footer {
        clear: both;
        padding: 3em 10%;
        color: #fff;
        background: #134347;
        text-align: center;
     }

     


